*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-SemiBold.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf');
}
$font__Recoleta: 'Recoleta';
$font__NotoSans: 'NotoSans';
.main{
    background: #163A24;
}
.container{
    width: 1170px;
    margin: 0 auto;
    @media (max-width: 1200px){
        width: unset;
        padding: 0 30px;
    }
}
// first section
.header{
    background: #163A24;
    padding: 21px 0;
    &__wrap{
        display: flex;
        justify-content: space-between;
    }

    &__menu{
        display: flex;
        @media (max-width: 650px){
            display: none;
        }
        &__list{
            display: flex;
            align-items: center;
        }
        &__item{
            margin-right: 24px;
        }
        &__link{
            font-family: $font__NotoSans;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #FBFAF7;

        }
    }
    &__btn{
        font-family: $font__NotoSans;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FBFAF7;
        background: #198C36;
        border-radius: 160px;
        padding: 19px 30px;
    }
    &__burger{
        display: none;
        @media (max-width: 650px) {
            align-items: center;
            display: flex;
        }
    }
}
.first{
    background-color: #163A24;
    height: 544px;
    &__wrap{
        display: flex;
        align-items: center;
        @media (max-width: 650px){
            flex-wrap: wrap;
        }
    }
    &__title{
        font-family: $font__Recoleta;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 45px;
        color: #FBFAF7;
        @media (max-width: 1200px){
            font-size: 36px;
        }
    }
    &__text{
        margin-top: 18px;
        max-width: 370px;
        font-family: $font__NotoSans;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #FBFAF7;
        @media (max-width: 1200px){
            font-size: 16px;
        }
    }
    &__image{
        width: 738px;
        height: 580px;
        @media (max-width: 1200px){
            height: 360px;
            align-self: flex-end;
            img{
                width: 100%;
                height: 100%;
            }
        }


    }
}

// second section

.reason{
    padding-top: 120px;
    &__wrap{
        display: flex;
        flex-direction: column;
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 965px){
            flex-direction: column;
        }
    }
    &__texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        @media (max-width: 965px){
            margin-bottom: 30px;
            &_order{
                order: 1;
            }
        }
    }
    &__title{
        font-family: $font__Recoleta;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        color: #163A24;
        margin-bottom: 27px;
        @media (max-width: 700px){
            font-size: 36px;
            line-height: 40px;
        }
    }
    &__text{
        font-family: $font__NotoSans;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #163A24;
        @media (max-width: 700px){
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__image{

        @media (max-width:965px){
            margin-bottom: 30px;
            &_order{
                order: 0;
            }
        }
        @media (max-width: 500px){
            width: 300px;
            height: 280px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__footer__title{
        align-items: center;
        padding-top: 115px;
        margin: 0 auto;
        font-family: $font__NotoSans;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        color: #163A24;
        padding-bottom: 46px;
        display: flex;
        justify-content: center;
        @media (max-width: 768px){
            font-size: 30px;
            line-height: 30px;
        }
    }
    &__footer__logos{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        @media (max-width: 768px) {
            width: 50px;
            height: 50px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__footer__logo{
        margin-bottom: 140px;
        @media (max-width: 768px){
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            margin-right: 10px;
        }
    }
}

// third section
.quality{
    background-color:#163A24;

    &__wrap{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        min-width: 823px;
        margin-top: 60px;
        font-family: $font__Recoleta;
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 54px;
        color: #FFFFFF;
        margin-bottom: 27px;
        @media (max-width: 960px){
            min-width: 300px;
            font-size: 24px;
            line-height: 30px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
            @media (max-width: 500px){
                
                font-size: 14px;
                line-height: 30px;
                display: flex;
                justify-content: center;
                text-align: center;
         }
    }
    &__row{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        @media (max-width: 1100px){
            flex-direction: column;

        }
    }
    &__reason{

        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    &__text{
        display: flex;
        justify-content: center;
        font-family: $font__NotoSans;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #FBFAF7;
        @media (max-width: 768px){
            padding-left: 20px;
        }
    }
    &__reasons{
        margin-bottom: 90px;
        margin-right: 70px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1100px){
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: row;
            margin-bottom: 50px;
        }
    }
}